.textarea-component {
  resize: none;
  outline: none;
  color: #fff;
  width: 100%;
  background-color: #1A1A1A;
  border: 4px solid #262626;
  padding: 8px;
}

.textarea-component:focus {
  background-color: #333333;
}
