.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 200px;
  max-width: 500px;
  width: 100%;
  padding: 1rem;
}

.contact-form button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form .valid {
  cursor: pointer;
  background-color: #262626;
  color: #fff;
}

.contact-form .notvalid {
  cursor: no-drop;
}

.contact-form .notvalid:active {
  background-color: var(--marvel-red-clr);
  color: var(--l-10-dark-clr);
}